* {
	background-color: black;
	border-color: black;
	color: white;
	height: 100%;
	width: 100%;
}

#root {
	margin: 10% 0 10% 0;
	align-content: center;
	align-items: center;
}

TextElement {
	font-size: 30px;
	-unity-text-align: middle-center;
}

Box {
	flex-direction: column;
}

#title {
	max-height: 20%;
	max-width: 50%;
}

#start-box {
	max-height: 15%;
	font-size: 30px;
}

#start {
	border-color: blue;
}

#dev-tool-text {
	max-width: 60%;
	max-height: 15%;
	align-self: center;
}

#tool-container {
	align-content: center;
	width: 100%;
	height: 100%;
}

.tool-item {
	min-height: 50px;
	min-width: 50px;
	flex-direction: column;
}

.tool-item TextElement, .tool-item IntegerField {
	font-size: 30px;
	align-self: center;
	max-height: 50%;
	max-width: 50%;
}