* {
	background-color: black;
	border-color: black;
	color: white;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
	margin: 10% 0 10% 0;
	align-content: center;
	align-items: center;
}

TextElement {
	font-size: 30px;
	-unity-text-align: middle-center;
}

#title {
	max-height: 20%;
	max-width: 50%;
}

#start-box {
	font-size: 30px;
	align-content: center;
}

#start-box Button {
	max-height: 50px;
	border-color: blue;
}

#start {
	border-color: blue;
}